# 01 Importing libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# importing products_checked data frame & orders_wrangled data frame
df_prods_checked = pd.read_csv('products_checked.csv', index_col= False)
df_orders_checked = pd.read_csv('orders_wrangled.csv', index_col= False)
df_orders = pd.read_csv('orders.csv', index_col= False)
df_prods = pd.read_csv('products.csv', index_col= False)

In [3]:
df_orders_checked.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#02 mixed-type data check procedure

In [4]:
# Check for mixed-type data in df_ords dataframe in the following steps
df_test_ords = pd.DataFrame()

In [5]:
df_test_ords['mix'] = ['A', 'B', 100, True]

In [6]:
display (df_test_ords)

    mix
0     A
1     B
2   100
3  True

In [7]:
for col in df_test_ords.columns.tolist():
    weird = (df_test_ords[[col]].applymap(type) != df_test_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_test_ords[weird]) > 0:
       print (col)

mix

/tmp/ipykernel_87746/2781919822.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test_ords[[col]].applymap(type) != df_test_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [8]:
df_test_ords['mix'] = df_test_ords['mix'].astype('str')

In [9]:
df_test_ords['mix'].dtype

dtype('O')

#03 check on missing values on products data frame

In [10]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [11]:
df_prods.shape

(49693, 5)

#03.1 addressing the missing value through a new sub set

In [12]:
df_prods_no_nan = df_prods[df_prods['product_name'].isnull()== False]

In [13]:
df_prods_no_nan.shape

(49677, 5)

#04  check for duplicate values in df_ords/ df_products data.

In [14]:
# moving the duplicate values into a sub set
df_dups = df_prods_no_nan[df_prods_no_nan.duplicated()]

In [15]:
ords_dups = df_orders[df_orders.duplicated()]

In [16]:
ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

No duplicate value was found on the orders data frame as well as orders_checked data frame(I checked it previously)

In [17]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

#04.1 addressing the duplicates in products.csv

In [18]:
# removing the duplicates and assigning the new clean data frame into a new variable
df_prods_no_dups = df_prods_no_nan.drop_duplicates()

In [19]:
df_prods_no_dups.shape

(49672, 5)

# 05 Final Section: exporting the cleaned data sets

In [20]:
# exporting the cleaned data sets

# I have already cleaned both data frames and exported them into my local folder during reading and practicing the lesson, therefore,
# I write its code just for the record and in the comment form:

#df_prods_no_dups.to_csv('products_checked.csv')