#01 Import libraries

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

#02 Describing variable list and importing the data frame

In [ ]:
#importing the Data frame1
path='/home/ubuntu/Desktop/python_projects'
df=pd.read_csv(os.path.join(path, 'orders.csv'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [ ]:
vars_list= ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [9]:
df=pd.read_csv(os.path.join(path, 'orders.csv'), usecols= vars_list)
df.head(5)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [ ]:
#importing data frame2
df_prods= pd.read_csv(os.path.join(path, 'products.csv'), index_col= False)

In [ ]:
# reviewing some rows of the Data frame
# print the first 20 rows
print("First 20 rows:")
display(df.head(20))

First 20 rows:

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0
11,2168274,2,1,2,11,NaN
12,1501582,2,2,5,10,10.0
13,1901567,2,3,1,10,3.0
14,738281,2,4,2,10,8.0
15,1673511,2,5,3,11,8.0
16,1199898,2,6,2,9,13.0
17,3194192,2,7,2,12,14.0
18,788338,2,8,1,15,27.0
19,1718559,2,9,2,9,8.0

In [13]:
# print the last 35 rows
print("Last 35 rows:")
display(df.tail(35))

Last 35 rows:

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421048,726186,206208,30,0,16,3.0
3421049,2523609,206208,31,4,11,4.0
3421050,756221,206208,32,6,18,9.0
3421051,2254244,206208,33,6,13,7.0
3421052,2017995,206208,34,6,15,7.0
3421053,2789700,206208,35,3,22,4.0
3421054,844592,206208,36,6,15,10.0
3421055,1541132,206208,37,2,12,3.0
3421056,2808240,206208,38,0,15,19.0
3421057,3027766,206208,39,2,14,9.0
3421058,3356245,206208,40,5,9,10.0
3421059,442304,206208,41,2,14,11.0
3421060,2675140,206208,42,1,19,6.0
3421061,167903,206208,43,4,14,3.0
3421062,2393201,206208,44,6,16,2.0
3421063,3292671,206208,45,2,11,3.0
3421064,3059777,206208,46,1,10,13.0
3421065,2239861,206208,47,3,4,9.0
3421066,1285346,206208,48,1,11,5.0
3421067,1882108,206208,49,1,22,7.0
3421068,803273,206208,50,5,11,4.0
3421069,3154581,206209,1,3,11,NaN
3421070,1889163,206209,2,3,17,7.0
3421071,1542354,206209,3,5,11,30.0
3421072,688306,206209,4,1,10,30.0
3421073,2307371,206209,5,4,15,3.0
3421074,3186442,206209,6,0,16,3.0
3421075,550836,206209,7,2,13,9.0
3421076,2129269,206209,8,3,17,22.0
3421077,2558525,206209,9,4,15,22.0
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [14]:
#names of the columns of the Products dataframe
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [19]:
# number of rows and columns of Products dataframe
print('numers of rows and columns are:') 
display(df_prods.shape)

numers of rows and columns are:

(49693, 5)

In [18]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

# brief descriptive analysis
maximum value of the “aisle_id” column: 134.000000
The data type of the “department_id” column: int64